.demo12-wrapper {
	position: relative;
	top: 20px;
	left: 30px;
	height: 0;
	width: 0;
	border-radius: 50%;
}

.demo12-bar {
	display: inline-block;
	position: absolute;
	height: 8px;
	width: 30px;
	background-color: #00ffa1;
	border-radius: 4px 4px 0 0;
	transition: all 1s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: demo12;
	animation-timing-function: ease;
}

.demo12-bar1 {
	left: 0px;
	top: -20px;
	transform: rotate(90deg);
	animation-delay: 0s;
}

.demo12-bar2 {
	left: 23px;
	top: -7px;
	transform: rotate(-45deg);
	animation-delay: .1s;
}

.demo12-bar3 {
	top: 15px;
	left: 30px;
	animation-delay: .2s;
}

.demo12-bar4 {
	top: 33px;
	left: 22px;
	transform: rotate(45deg);
	animation-delay: .3s;
}

.demo12-bar5 {
	left: 0;
	top: 40px;
	transform: rotate(270deg);
	animation-delay: .4s;
}

.demo12-bar6 {
	left: -22px;
	top: 32px;
	transform: rotate(315deg);
	animation-delay: .5s;
}

.demo12-bar7 {
	left: -30px;
	top: 15px;
	transform: rotate(360deg);
	animation-delay: .6s;
}

.demo12-bar8 {
	top: -7px;
	left: -23px;
	transform: rotate(45deg);
	animation-delay: .7s;
}

@keyframes demo12 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .1;
	}
}