.demo10-wrapper {
	height: 100px;
    line-height: 100px;
}

.demo10-bar {
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 70px;
	width: 8px;
	vertical-align: bottom;
	background-color: #00e8ff;
	border-radius: 4px;
	transition: all 1s;
	animation-duration: 1s;
	animation-name: demo10;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.demo10-bar1 {
	animation-delay: 0s;
}

.demo10-bar2 {
	animation-delay: .2s;
}

.demo10-bar3 {
	animation-delay: .4s;
}

.demo10-bar4 {
	animation-delay: .6s;
}

.demo10-bar5 {
	animation-delay: .8s;
}

@keyframes demo10{
	0% {
		height: 70px;
		background-color: #00e8ff;
	}
	100% {
		height: 40px;
		background-color: #00ffa1;
	}
}
